/* header.module.css */

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Верхняя строка с тремя колонками */
.topRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* или по вашему */
  margin-bottom: 20px;
}

/* Колонки: телефоны и адреса */
.column {
  flex: 1;
  padding: 0 10px;
}

/* Логотип по центру */
.logoContainer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.logo {
  width: 200px;
  height: auto;
}

/* Кнопки снизу */
.buttonsContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap; /* если много кнопок, они перенесутся */
}

.link{
  text-decoration: none;
  color: #fff;
}