.footerContainer {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 40px 20px; /* уменьшил padding для удобства */
  background: linear-gradient(to bottom, #b2f2bb, #4caf50); /* светло-зеленый сверху к насыщенному зеленому снизу */
  color: #fff; /* белый текст для контраста */
  display: flex;
  justify-content: center; /* чтобы кнопка была слева */
  gap: 20px; /* расстояние между кнопкой и остальным содержимым */
}

.topRow {
  display: flex;
  justify-content:flex-start; /* выравнивание по центру */
  gap: 60px; /* расстояние между колонками */
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items:start;
  /* можно задать фиксированную ширину, если нужно */
  min-width: 150px;
}